.editButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.homeContainer {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 8%;
  width: 92%;
  height: 100%;
}

.loadingContainer {
  margin-left: 45%;
  margin-top: 20%;
}

body {
  margin: 0;
}